<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Shop Chain</title>
  </head>
  <body>
    <h1>Hello, and welcome to Shop Chain</h1>
    <main>
      <% for (product of products) { %>

      <article>
        <img src="<%= product.img %>" />
        <h2><%=product.price %></h2>
        <h2><%=product.qty %></h2>
        <button>Buy</button>
      </article>

      <% } %>
    </main>
  </body>
</html>
